{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "Controllers": "./src/app/controllers",
        "Components": "./src/app/components",
        "Reducers": "./src/app/reducers",
        "Pages": "./src/app/pages"
      }
    }]
  ]
}